<!--The about section of the homepage -->

<!--PageSpeed screenshot-->


<!--Google analytics screenshot-->
<div class="background-pic col-md-12">
    <div class="d-flex p-4 bg-transparent"></div>


 <!--Comments-->

 <!--The following section fades in from the right-->
<div class="col-md-4 offset-md-1" id="2" data-aos="fade-right">

  <div class="card col-md-12 products">
    <h2><img alt="open package" src="/images/icons/empty-box.png">
    Scalability</h2>

    <p>Best coding practices and cutting edge tools enables us to grow with the game.</p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>
  <div class="card col-md-12 tools">
    
  <!--Plugins-->
    <h2 class=""><img alt="toolbox" src="/images/icons/test.png">
      User Tests</h2>
    <p>
      Before we launch a game we rigorously test it with a ride range of demographics and playing styles to further optimize our product.
    </p>
  </div>

  <div class="d-flex p-3 bg-transparent"></div>

  <!--Libraries-->
  <div class="card col-md-12 process">
    <h2><img alt="Unity logo" class="" src="/images/icons/unity.png">
      Gaming Engine</h2>
    <p>We use the latest version of Unity in order to squeeze as much performance out of each user experience as possible</p>
  </div>
</div>

<div class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

</div>