/*
This file contains the custom style elements
  Words are separated with "-"

    --Table of contents--

    ~High level declarations
        ~Colors
    ~Low level declarations
        ~Navigation
        ~Home page
         ~Main Title
         ~Features
         ~About
         ~Problems and Solutions
        ~Blog
        ~Contact Form
        ~Share widget

*/



/****High-level declarations****/


img {
    max-width: 100%;
    padding:1%;
}

a:hover {
    text-decoration: none;
    color:black;
}

h3 {
    font-size: 1.2rem;
    opacity: .8;
  }
  
  li {
    line-height: 200%;
    font-size: 1.5rem;
    list-style-type: none;
  }

p {
    font-size: 1.3rem;
}
  
.card {
    border-color: transparent;
  }

@font-face {
  src: url(/images/damion.ttf);
  font-family: damion;
}

@font-face {
  src: url(/images/roboto.ttf);
  font-family: roboto
}

@font-face {
  src: url(/images/Ubuntu.ttf);
  font-family: ubuntu;
}

@font-face {
  src: url(/images/sourcecode.ttf);
  font-family: sourceCode;
}

@keyframes typing{
  from{opacity: 0}
  to{opacity: 1}
}


/*--Color declarations--*/


.solutions-card,
.problem-card {
  background-color: white;
  color:#5b5a5a;
}

.header,
.card-head {
    color: black;
}

.copyright,
.btn,
.features,
.feature-card,
.text-white {
    color:white;
  }


  .footer-card,
  .solutions-and-problems,
  .feature-card,
  .btn-primary {
    background-color: #212121;
    border: 0px solid transparent
}

nav,
body {
    background-color: black
}

a,
a:hover,    
h5 > button.btn:hover,
.btn-link,
.post-title,
.solutions-and-problems,
.title,
.features
 {
  color: #00d61c;
}


.post-date,
.subtitle
 {
  color: #474747;
}

.name > a {
color: #595858;
}

.SEO {
    background-color:#259613;
  }

/*****Low level declarations*****/


/*navigation*/

.card-head{
    border: 2px solid black;
    opacity: .5;
    border-top: transparent;
    padding-top: 2%;
}

.header {
    font-size: 2rem;
}

.Icon {
    width:40px;
    height:40px;
  }

/**Home Page**/

/*Main title*/

.name {
  font-family: damion;
  padding:1%;
}

.email {
  margin-top:1%;
}

.title {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    display: block;
    font-weight: 300;
    letter-spacing: 1px;
  }


.a {
   animation-name: typing;
   animation-duration: 1s;
}

.b,.c,.d,.e,.f,.g,.h,.i,.j,.k,.l,.m,.n,.o,.p,.q,.r,.s,
.a {
  animation-name: typing;
  animation-duration: .1s;
  opacity:0;
  animation-fill-mode:forwards;
}

.b {
  animation-delay: .1s
}

.c {
  animation-delay: .2s
}

.d {
  animation-delay: .3s
}

.e {
  animation-delay: .4s
}

.f {
  animation-delay: .5s
}
.g {
  animation-delay: .6s
}

.h {
  animation-delay: .7s
}

.i {
  animation-delay: .8s
}

.j {
  animation-delay: .9s
}

.k {
  animation-delay: 1s
}

.l {
  animation-delay: 1.2s
}

.m {
  animation-delay: 1.3s
}

.n {
  animation-delay: 1.4s
}

.o {
  animation-delay: 1.5s
}

.p {
  animation-delay: 1.6s
}

.q {
  animation-delay: 1.7s
}

.r {
  animation-delay: 1.8s
}

.s {
  animation-delay: 1.9s
}

.subtitle {
    font-weight: 300;
    font-size: 32px;
    word-spacing: 5px;
    font-family: ubuntu;
} 

@media only screen and (max-width: 720px) {
    .title {
        font-size:3rem;
    }
    .subtitle {
        font-size: 1.5rem;
        padding:3%;
    }
}

@media only screen and (max-width: 496px) {
    .title {
        font-size:2rem;
        padding:1%;
    }

    .subtitle {
        font-size: 1.3rem;
    }


}

@media only screen and (max-width: 900px) {

    .description {
        display: none;
    }

}

/*Features*/


.feature-icon {
    width: 90px;
    height: 90px;
    margin-top:2%; 
    margin-bottom:5%;
  }

/*About*/


.background-pic {
    background-image: url(/images/forest.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.process,
.tools,
.products {
  padding-top: 2%;
  color: black;
  opacity: .8;
}

.process {
    border-left:3px solid blue;
  }

.products {
    border-left:3px solid green;
  }
  
.tools {
    border-left:3px solid red;
  }


/*Problems and Solutions*/

.problem-title {
    color:#E60000; /*accessible red*/
  }
  
  .solutions-title {
    color:#008A00; /*accessible green*/
  }

@media only screen and (max-width: 496px) {
    li {
        font-size: 1.3rem;
    }
}

  /*Blog*/

  .author-pic {
    width:60%;
    border-radius:24px;
}

.year {
    width:30%;
}

.btn:hover {
    text-decoration: none;
    color:white;
}

.blog-border {
    border: 1px solid #cccccc;
    padding:2%;
}

/*Contact Form*/  
  .contact {
    border: 3px solid #62A45F;
    padding:6%;
  
  }



/* share widget */

.fa-facebook {
    color:#4267B2;
}

.fa-twitter {
    color: #38A1F3;
}

.fa-pinterest {
    color: red;
}

.fa-reddit {
    color:#FF4301;
}

.fa-linkedin {
    color:#0077B5;
}

.fa-envelope-square {
    color: red;
}