<!--
    ~~~Home page layout~~~

    Conventions:
    Vertical spacing: <div class="d-flex p-4 bg-transparent"></div>
    Horizontal centering: <div class="d-flex justify-content-center">

-->


{% include head.html %}


<nav class="sticky-top">
<div class="d-flex">
<h1 class="name offset-md-1"><a href="#top">Xquisite Game Studios</a></h1>

</div>
</nav>



<!--Main Title-->
<div id="top" class="d-flex p-4 bg-transparent"></div>
<div class="d-flex p-4 bg-transparent"></div>

<div class="d-flex col-md-12 justify-content-center">

<img class="col-md-2 animated flipInY delay-1s" src="/images/wreath.PNG">

</div>
<div class="row justify-content-center col-md-12">
    <div class="title">
    <h1 class="display-3 typing">
        <span class="a">W</span><span class="b">e</span> <span class="c">m</span><span class="d">a</span><span class="e">k</span><span class="f">e</span> <span class="g">t</span><span class="h">h</span><span class="i">e</span> <span class="j">b</span><span class="k">e</span><span class="l">s</span><span class="m">t</span> <span class="n">f</span><span class="o">o</span><span class="p">r</span> <span class="q">y</span><span class="r">o</span><span class="s">u</span>
        </h1>
     </div>
    </div>

<div class="row justify-content-center col-md-12">
    <h2 class="lead subtitle animated fadeInUp delay-1s">
     A Gaming Studio
    </h2>
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

{% include features.html %}
{% include about.html %}

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

<div class="row justify-content-center col-md-12">
<img src="/images/RimsJourneyArt.png" class="col-md-8" alt="rims journey concept art">
</div>

<div class="d-flex p-4 bg-transparent description"></div>
<div class="d-flex p-4 bg-transparent description"></div>

{% include footer.html %}